In [2]:
import pandas as pd

df = pd.read_csv('lac_train.csv')
df.groupby('similarity').count()

               t1     t2
similarity
0.238095      294    294
0.261905      672    672
0.285714     1418   1418
0.309524     2630   2630
0.333333     4116   4116
0.357143     5806   5806
0.380952     7718   7718
0.404762     9804   9804
0.428571    11782  11782
0.452381    12609  12609
0.476190    12117  12117
0.500000    11309  11309
0.523810    11517  11517
0.547619    11942  11942
0.571429    12553  12553
0.595238    12086  12086
0.619048    10849  10849
0.642857     9126   9126
0.666667     7397   7397
0.690476     6486   6486
0.714286     5759   5759
0.738095     5304   5304
0.761905     4574   4574
0.785714     3614   3614
0.809524     2333   2333
0.833333     1385   1385
0.857143     1199   1199
0.880952     1050   1050
0.904762      959    959
0.928571      962    962
0.952381      506    506

In [18]:
df20 = df[(df['similarity'] >= 0.20) & (df['similarity'] <= 0.25)]
df20['similarity'] = [0.2]*df20.shape[0]

df30 = df[(df['similarity'] >= 0.30) & (df['similarity'] <= 0.35)]
df30['similarity'] = [0.3]*df30.shape[0]
df30 = df30.sample(frac=1)
df30 = df30[0:2000]

df40 = df[(df['similarity'] >= 0.40) & (df['similarity'] <= 0.45)]
df40['similarity'] = [0.4]*df40.shape[0]
df40 = df40.sample(frac=1)
df40 = df40[0:2000]

df50 = df[(df['similarity'] >= 0.50) & (df['similarity'] <= 0.55)]
df50['similarity'] = [0.5]*df50.shape[0]
df50 = df50.sample(frac=1)
df50 = df50[0:2000]

df60 = df[(df['similarity'] >= 0.60) & (df['similarity'] <= 0.65)]
df60['similarity'] = [0.6]*df60.shape[0]
df60 = df60.sample(frac=1)
df60 = df60[0:2000]

df70 = df[(df['similarity'] >= 0.70) & (df['similarity'] <= 0.75)]
df70['similarity'] = [0.7]*df70.shape[0]
df70 = df70.sample(frac=1)
df70 = df70[0:2000]

df80 = df[(df['similarity'] >= 0.80) & (df['similarity'] <= 0.85)]
df80['similarity'] = [0.8]*df80.shape[0]
df80 = df80.sample(frac=1)
df80 = df80[0:2000]

df90 = df[(df['similarity'] >= 0.90) & (df['similarity'] <= 0.95)]
df90['similarity'] = [0.9]*df90.shape[0]
df90 = df90.sample(frac=1)
df90 = df90[0:2000]

train = pd.concat([df30, df40, df50, df60, df70, df80, df90])
train.groupby('similarity').count()

/Users/michel/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/michel/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/michel/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/michel/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/Users/michel/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/michel/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/michel/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/michel/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              t1    t2
similarity
0.2          294   294
0.3         3000  3000
0.4         3000  3000
0.5         3000  3000
0.6         3000  3000
0.7         3000  3000
0.8         3000  3000
0.9         1921  1921

In [19]:
train.to_csv('lac_train.csv', index=None)