In [12]:
import pandas as pd 

df = pd.read_csv('nscale_train.csv')
df = df.round({'similarity':2})
df.groupby('similarity').count()

              t1    t2
similarity
0.00        1235  1235
0.14        1235  1235
0.29        1235  1235
0.43        1235  1235
0.57        1235  1235
0.71        1235  1235
1.00        1235  1235

In [11]:
train = pd.DataFrame()
train = pd.concat([train, df[df['similarity'] == 0.00][0:1235]])
train = pd.concat([train, df[df['similarity'] == 0.14][0:1235]])
train = pd.concat([train, df[df['similarity'] == 0.29][0:1235]])
train = pd.concat([train, df[df['similarity'] == 0.43][0:1235]])
train = pd.concat([train, df[df['similarity'] == 0.57][0:1235]])
train = pd.concat([train, df[df['similarity'] == 0.71][0:1235]])
train = pd.concat([train, df[df['similarity'] == 1.00][0:1235]])
train.to_csv('nscale_train.csv', index=None)